// ======================================================================================
//
// Mesages
//
// ======================================================================================


.messages__heading {
	margin-bottom: 40px;
	font-weight: 200;
}

.msg-preview {
	position: relative;
	display: flex;
	align-items: center;
	padding: 20px 25px 20px 48px;
	font-size: $font-size-sm;
	line-height: 1.25;
	border-bottom: 1px solid gray("200");
	transition: all 0.1s ease-in-out;
	transition: 0.2s background-color ease-in-out, 0.2s opacity ease-in-out, 0.2s filter ease-in-out, 0.2s color ease-in-out;

	@include hover-focus {
		filter: brightness(.95);
	}
}

// State icon (replied, unread, etc.)

.msg-preview__icon {
	align-self: center;
	margin-right: 12px;
	margin-left: -26px;
}

// Message states

.msg-preview--replied {
	opacity: 0.8;
}

.msg-preview--unread {
	font-weight: $font-weight-normal;
}

.msg-preview__img {
	width: 40px;
	height: auto;
	margin-right: 15px;

	img {
		width: 40px;
		height: auto;

		@include border-radius();
	}
}

.msg-preview__content {
	flex: 1 1 0%;
	overflow: hidden;
}

.msg-preview__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}

.msg-preview__sender {
	font-size: $font-size-base;
	color: theme-color("dark");
}

.msg-preview-body {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.msg-preview__date {
	margin-top: -1px;
	display: flex;
	align-items: center;

	.dashicons {
		color: gray("300");
		margin-left: 10px;
	}
}

.msg-toggles {
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-left: auto;

	svg {
		fill: gray("300");
		margin: -2px 4px 0 0;
	}

	.is-active {
		fill: theme-color("dark");
	}
}

.pm-mark-all-as-read {
	color: theme-color("danger");
}

.pm-no-messages {
	margin: 0;
	padding: 20px;
}

.select2-result-pm-recipient {

	.select2-result-pm-recipient__meta {
		margin-top: 1px;
	}
}

.pm-logged-out {
	text-align: center;
}
