@mixin vendify-form-control {
		display: block;
		width: 100%;
		padding: $input-btn-padding-y $input-btn-padding-x;
		font-size: 1rem;
		font-weight: 300;
		line-height: 24px;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.08);
		border-radius: 0;
		box-shadow: none;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
