@mixin link {
	position: relative;
	transition: color 0.2 ease-in-out;

	@if ( $link-border ) {

		&::after {
			content: "";
			position: absolute;
			bottom: -0.2em;
			left: 0;
			width: 100%;
			height: 0.2em;
			border-bottom: 1px solid gray("200");
			transition: 0.2s border-color ease;
		}
	}

	@include hover {
		color: $link-hover-color;
	}
}


// Uppercase links with wider spacing. Usually used as call to actions.
@mixin link-cta {
	display: inline-block;
	line-height: 1.67;
	text-transform: $link-uppercase;
	letter-spacing: $link-cta-spacing;
}
